.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
}

.form input {
    width: 20rem;
    border: 1px solid;
    border-radius: 4px;
    background-color: #cfd7d7;
}

.form input:hover {
    color: #447AAA;
}

.form button {
    border: 1px solid;
    border-radius: 4px;
    background-color: #cfd7d7;
}

.form button:hover {
    color: #447AAA;
}