html {
    height: 100%;
}

body {
    background-image: url(./../public/champions_stadium.jpg);
    color: #FFFFFF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}